* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.auth_page {
  background-color: #e2fceb;
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
}

.auth_page .logo img {
  width: 60px;
}

.sign_in_container {
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 0px 0px 5px 1px grey;
  border-radius: 5px;
}

.auth_page .store_name {
  color: #166534;
  font-size: 30px;
  font-weight: bold;
}
.auth_page .store_name + p {
  color: grey;
  margin-top: 5px;
  margin-bottom: 15px;
}
.auth_page .switch_container .sign_up {
  background-color: white;
}
.auth_page.active .switch_container .sign_in {
  background-color: white;
}
.auth_page.active .switch_container .sign_up {
  background-color: #f4f4f5;
}

.switch_container {
  background-color: #f4f4f5;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.switch_container button {
  background-color: #f4f4f5;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  padding: 10px 0px;
  flex-grow: 1;
}
.switch_container button.active {
  background-color: white;
}
.auth_container {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
}
.auth_container > * {
  min-width: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth_page form div {
  display: flex;
  flex-direction: column;
}

.auth_page form label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
  margin-top: 5px;
}
.auth_page form input {
  padding: 10px;
  border: 2px solid #d5d5d5;
  outline: none;
  border-radius: 5px;
  color: #16a34a;
  font-size: 16px;
}

.auth_page form button {
  background-color: #16a34a;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.auth_container + p {
  color: grey;
  margin-top: 10px;
}
